<!-- <
<form [formGroup]="materialForm" (ngSubmit)="addMaterial()" class="flex-col">
  <div class="flex flex-wrap items-center">
    <input
      class="form-input w-1/2 border-2 outline-none border-teal-500 mb-2 border-r rounded-l-md focus:border-teal-800 p-1.5"
      type="text"
      id="reqNum"
      formControlName="reqNum"
      placeholder="Req No."
    />
    <input
      class="form-input w-1/2 border-2 outline-none border-teal-500 mb-2 border-l rounded-r-md focus:border-teal-800 p-1.5"
      type="text"
      id="name"
      formControlName="name"
      placeholder="Name"
    />
    <input
      class="form-input w-1/2 border-2 outline-none border-teal-500 border-r rounded-l-md focus:border-teal-800 p-1.5"
      type="text"
      id="units"
      formControlName="units"
      placeholder="Units"
    />
    <input
      class="form-input w-1/2 border-2 outline-none border-teal-500 border-l rounded-r-md focus:border-teal-800 p-1.5"
      type="text"
      id="costPerUnit"
      formControlName="costPerUnit"
      placeholder="Cost per Unit"
    />
  </div>
  <div class="flex justify-end">
    <button (click)="materialInputOff()" class="m-1 text-sm my-2 rounded p-2">
      Cancel
    </button>
    <button
      type="submit"
      class="m-1 mr-0 bg-orange-300 text-sm font-normal my-2 rounded p-2"
    >
      ADD
    </button>
  </div>
</form> -->
