<mat-sidenav-container class="h-screen">
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    class="w-64 bg-teal-50 shadow-xl border-x-teal-200 border-x-0"
  >
    <ul>
      <ul class="px-6 py-8">
        <li class="text-teal-800 font-l text-xl mb-5">Thiti Limphaibool</li>
        <hr />
        <li class="text-teal-800 font-thin text-xl mb-3 mt-5">
          <a routerLink="/job-costing">Job Order Costing</a>
        </li>
        <li class="text-teal-800 font-thin text-xl mb-3 mt-5">
          <a routerLink="/dashboard">Test</a>
        </li>
        <li class="text-teal-800 font-thin text-xl mb-3 mt-5">
          <a>Test</a>
        </li>
        <hr />
        <li class="text-teal-800 font-thin text-xl mt-5">Sign out</li>
      </ul>
    </ul>
    <!-- Content of the sidenav -->
  </mat-sidenav>

  <!-- <mat-sidenav-content class="bg-teal-50"> -->
  <mat-sidenav-content class="bg-gradient-to-r from-teal-100 to-emerald-100">
    <div class="flex items-center bg-teal-800 h-12">
      <button (click)="sidenav.toggle()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.7"
          stroke="currentColor"
          class="w-5 h-5 ml-5 text-md text-teal-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
      <div class="text-teal-100 ml-1.5 font-extralight">numera</div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
