<div class="flex items-center bg-white h-16 border-y-teal-200 shadow-md">
  <p class="ml-5 mt-3 text-teal-700">{{ headerTitle | uppercase }}</p>
</div>
<div class="flex m-8 justify-center flex-wrap">
  <div class="fixed flex flex-col bottom-0 right-0 m-10">
    <button mat-fab class="bg-teal-400 mb-5" (click)="toggleEdit()">
      <mat-icon class="text-teal-800">edit</mat-icon>
    </button>
    <button mat-fab class="bg-teal-400">
      <mat-icon class="text-teal-800">delete</mat-icon>
    </button>
  </div>
  <div
    class="flex-col w-5/6 bg-emerald-500 rounded-md border-0 shadow-md px-8 py-5 mb-5"
  >
    <div class="flex items-baseline mb-3">
      <div class="text-green-100 text-3xl mr-2">{{ job?.jobNumber }}</div>
      <div class="text-green-900 text-3xl">
        {{ job?.customerName }}
      </div>
    </div>
    <div class="text-emerald-200 text-lg">
      {{ job?.startDate | date : 'dd/MM/yy' }} -
      {{ job?.finishDate | date : 'dd/MM/yy' }}
    </div>
    <div class="text-emerald-900 text-lg">{{ job?.amount }} units</div>
  </div>
  <div class="flex justify-evenly w-5/6">
    <div
      class="flex-col items-center w-1/3 bg-white rounded-md border-teal-200 border-2 shadow-md px-3 py-5 text-lg text-black font-thin"
    >
      <p class="mb-5 text-center">Direct Materials</p>
      <div
        div
        class="flex justify-between items-center mb-3 px-5 border-2 rounded-md border-gray-300 p-1 bg-gray-100"
        *ngFor="let dm of job?.directMaterials"
      >
        <div>
          <div class="text-xl">{{ dm.name }}</div>
          <div class="text-xs">{{ dm.reqNum }}</div>
        </div>
        <div class="text-sm">{{ dm.totalCost }} BAHT</div>
      </div>
      <div
        *ngIf="editMode"
        class="flex justify-center items-center px-3 py-3 mt-5 rounded-md p-1 bg-cyan-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
      </div>
    </div>
    <div
      class="flex-col justify-center w-1/3 bg-white rounded-md border-teal-200 border-2 shadow-md px-3 py-5 text-lg text-black font-thin mx-2"
    >
      <p class="mb-5 text-center">Direct Labor</p>
      <div
        div
        class="flex justify-between items-center mb-3 px-5 border-2 rounded-md border-gray-300 p-1 bg-gray-100"
        *ngFor="let dl of job?.directLabors"
      >
        <div>
          <div class="text-xl">{{ dl.name }}</div>
          <div class="text-xs">{{ dl.reqNum }}</div>
        </div>
        <div class="text-sm">{{ dl.totalCost }} BAHT</div>
      </div>
      <div
        *ngIf="editMode"
        class="flex justify-center items-center px-3 py-3 mt-5 rounded-md p-1 bg-cyan-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m6-6H6"
          />
        </svg>
      </div>
    </div>
    <div
      class="flex-col justify-center w-1/3 bg-white rounded-md border-teal-200 border-2 shadow-md px-3 py-5 text-lg text-black font-thin"
    >
      <p class="mb-5 text-center">Overhead</p>
      <div
        div
        class="flex justify-between items-center mb-3 px-5 border-2 rounded-md border-gray-300 p-1 bg-gray-100"
        *ngFor="let dl of job?.directLabors"
      >
        <div>
          <div class="text-xl">Direct labor {{ dl.hours }} hrs.</div>
          <div class="text-xs">{{ job?.overheadRate }} baht per hr.</div>
        </div>
        <div class="text-sm">{{ dl.totalCost * job!.overheadRate }} BAHT</div>
      </div>
    </div>
  </div>
</div>
